body{
    font-family:'Poppins', sans-serif;
}
.font-big{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.hedar-flex{
    display: flex;
    margin-bottom: 100px;
}
.half-widh{
    width: 50%;
    padding-left: 2%;
    margin-top: 100px;
}
.half-widh img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 30px;
    box-shadow: 5px 3px 5px gray;
}

.background{
    background-image: url(images/Frame\ 58.jpg);
}
.box-center{
    text-align: center;
    padding: 10px 40px;
    margin-right: 25%;
    margin-left: 25%;
}
.food-recipie{
    margin: 2%;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
   
    box-shadow: 10px 1px 40px grey;
    border-radius: 15px;
}
.food-recipie img{
    border-radius:15px ;
    padding: 20px;
}
.footer{
    padding: 3%;
    background-color: #0A0D16;
    text-align: center;
    color: white;
}
.gray-color{
    color:#292c3b;
}